/* Styles de base pour le footer */
footer {
    background-color: #1a1a1a; /* Couleur sombre */
    color: #fff; /* Couleur du texte en blanc */
    padding: 20px;
    text-align: center;
}

/* Liens dans le footer */
footer .social-links a {
    color: #f0c041; /* Couleur des liens en jaune (ou autre couleur souhaitée) */
    margin: 0 10px;
    text-decoration: none;
}

footer .social-links a:hover {
    text-decoration: underline;
}
